/CarPool/.vs/CarPool/v16/.suo
/CarPool/.vs/CarPool/v16/Server/sqlite3/db.lock
/CarPool/.vs/CarPool/v16/Server/sqlite3/storage.ide
/CarPool/.vs/CarPool/v16/Server/sqlite3/storage.ide-shm
/CarPool/.vs/CarPool/v16/Server/sqlite3/storage.ide-wal
